.App {
  display: flex;
  height: 100vh;
  text-align: left center;
  background-color: #ffffff;
  background-image: url(./assets/img/landing.jpeg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% 50%;
}

.container {
  width: 50%;
  display: flex;
  justify-content: left center;
  align-items: center;
}
.containerCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: block;
  font-family: nomospace;
  white-space: nowrap;
  border-radius: 4px solid;
  width: 12ch;
  color: #fff;
  font-size: 4rem;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
